/*ul.main-navigation-menu > li > a {
	padding-left:4px;
}

.breadcrumb{
	height: 51px;
	padding: 20px;
}
*/

ul.main-navigation-menu > li > a i {
	font-size: 25px;
}

.navigation-toggler{
	background: #343434 url("../assets/images/back.png") repeat scroll 0 0;
}
